body{
    font-family: 'Exo', sans-serif;
    background: white !important;
}

.input-underline{
    border-radius: 0 !important;
    border :0 !important;
    border-bottom: 1px #dcdcdc solid !important;
}
.input-underline:focus{
    box-shadow:0 0 0 0.2rem rgba(248, 205, 17, 0.29) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f8cd11 !important;
}

.custom-carousel-indicators{
    position: absolute !important;
    right: 20px !important;
    top: 10px !important;
    margin : 0 !important;
    left : auto !important;
}
.custom-carousel-indicators .active{
    background-color:#f8cd11 !important;
}
.custom-carousel-indicators li{
    height:15px !important;
    width:15px !important;
    border-radius: 50% !important;
}

